* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HERO */
.hero {
  text-align: center;
}

main {
  flex: 1;
}

/* ADMIN LAYOUT */
.admin-layout {
  display: flex;
  min-height: 100vh;
}

/* content dan footer */
.admin-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* KONTEN */
.admin-content {
  flex: 1;
  padding: 20px;
}